 <h3>Novo Pedido</h3>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>O que?</ng-template>
    <app-choose-products [order]="order"></app-choose-products>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Quando?</ng-template>
    <app-choose-date-hour [order]="order"></app-choose-date-hour>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Onde?</ng-template>
    <app-choose-adress [order]="order"></app-choose-adress>
  </mat-step>
</mat-horizontal-stepper>