.products{
    margin-top: 5px;
    padding-top: 0 !important;
    padding: 0px !important;
    margin-bottom: 1px;
}

.button{
    width: 100%;
}

.warning {
    color: red;
}

.spinner{
    width: 500px;
}