a {
    margin-right: 20px;
    margin-top: 8px;
}

.spinner {
    align-self: center;
    width: 100%;
    margin-top: 20%;
}

.card {
    max-width: 400px;
    max-height: 670px;
    width: 670px;
    position: center;    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-input {
    width: 100%;
}

.header-image {
    background-size: cover;
}

.botton-margin {
    margin-bottom: 5px;
}

.submit-button {
    width: 100%;
}