/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.primary {
    background-color: #db8f39;
    color: white;
}

.second {
    background-color: #e8b376;
    color: white;
}

.light-primary {
    color: #e8b376;
}
.color-primary {
    color: #db8f39;
}

.full-brackground {
    background-color: #e8b376;    
    height: 100%;
    width: 100%;
}

.full-input {
    width: 100%;
}

.centrelizer{
    display: flex;
    justify-content: center;
}

.spinner {     
    justify-content: center;    
    align-self: center;
    margin-left: 120px;    
}