/* For use in src/lib/core/theming/_palette.scss */
$md-valentinasalgados: (
    50 : #fbf2e7,
    100 : #f4ddc4,
    200 : #edc79c,
    300 : #e6b174,
    400 : #e0a057,
    500 : #db8f39,
    600 : #d78733,
    700 : #d27c2c,
    800 : #cd7224,
    900 : #c46017,
    A100 : #fffaf6,
    A200 : #ffdac3,
    A400 : #ffbb90,
    A700 : #ffac77,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50 : #fbf2e7,
    100 : #f4ddc4,
    200 : #edc79c,
    300 : #e6b174,
    400 : #e0a057,
    500 : #db8f39,
    600 : #d78733,
    700 : #d27c2c,
    800 : #cd7224,
    900 : #c46017,
    A100 : #fffaf6,
    A200 : #ffdac3,
    A400 : #ffbb90,
    A700 : #ffac77,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
