
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;  
}

.side-nav-brackground {
  background-color: white;
  color: black;  
}

.menu {
  background-color: #db8f39!important;
  background: #db8f39!important;
  color: white;  
}

.simple-logo {  
  padding: 10;
  margin-left: 50px;  
  margin-top: 20px;
  max-height: 50px;
  max-width: 50px;
}

.side-menu {
  background-color: #e8b376;
  color: black;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.default-margin {
  margin: 5px;
}
