p{
    margin: 10px;
}

.content {
    max-width: 420px;  
    width: 420px;     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    max-height: 600px;
    padding: 0;
}

.full-size {
    background-size: cover;
}

.full-input {
    margin-left: 10px; 
    max-width: 95%;   
}
